.tmptool-tool {
  margin: 1em auto;
  /* height: 200px; */
  min-height: 200px;
  padding-bottom: 10px;

  background-color: #fffffe;
  border-radius: 8px;
  box-shadow: 0px 5px 30px -10px #00000079;
}

.p {
  text-align: center;
  
  color: blue;
}

.header {
  height: 30px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px 8px 0 0;
}

.header-title {
  color: rgb(10, 10, 14);
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.header-runbtn{
  float: right;
  top: 50%;
  height: 100%;
  background-color: #e0e0e000;

  /* border: none ; */
  margin-right: 20px;
}

.header-runbtn:hover{
  margin-right: 20px;
}


.monaco-editor {
  height: 250px;
}